{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    ">0.25%",
                    "not ie 11",
                    "not op_mini all"
                ]
            },
            "production": {
                "plugins": ["transform-react-remove-prop-types"]
            }
        }],
        "react"
    ],
    "plugins": [
        "transform-class-properties"
    ]
}